@page "{id}"
@model CustomersApp.Pages.DetailsModel
@{
}

<div>
    <form id="frmMain" method="post">
        <input id="txtSelectedId" type="hidden" value="@Model.SelectedListCustomer.Id">
        <table>
            <tr>
                <td><label for="txtName">Name</label></td>
                <td><input id="txtName" name="name" value="@Model.SelectedListCustomer.Name"></td>
            </tr>
            <tr>
                <td><label for="txtSurname">Surname</label></td>
                <td><input id="txtSurname" name="surname" value="@Model.SelectedListCustomer.Surname"></td>
            </tr>
            <tr>
                <td><label for="txtAFM">AFM</label></td>
                <td><input id="txtAFM" name="AFM" value="@Model.SelectedListCustomer.AFM"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="display: flex">
                        <button class="btn btn-warning" asp-page-handler="cancel">Cancel</button>
                        @if (Model.SelectedListCustomer.Id > 0) {
                            <button class="btn btn-danger" asp-page-handler="delete">Delete</button>
                        }
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
